


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F6F6F6;

}





main {
    display: flex;

    height: 100%;
    width: 100%;
    font-family: Poppins;
}

.aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.1rem;
    background-color: #5a5f75;
    backdrop-filter: blur(20px);
    transition: max-height 0.5s ease-out;
}

.toggle-button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;

    cursor: pointer;
}

.Links {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.aside li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 10px;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

.aside li:hover {
    color: #F297A4;
}

.aside li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff62, transparent);
    content: '';
    bottom: 0px;
}

.aside li i {
    font-size: 1.3rem;
}

.activeLink {
    color: #9faa01;
}

.mySwiper {

    flex: 1;
    height: 100%;
}

.home-slide {
    color: #EE7481;
    display: flex;

}

.HomeContent {
    margin: auto 0px;
    flex: 1;
    height: auto;

    padding: 100px;
    user-select: none;
}

.SideImg1 {
    width: 30%;


    margin: auto 10px;
    margin-right: 100px;
    position: relative;
}

.SideImg1 img {
    width: 100%;
    border-radius: 10px;
}

.SideImg1 .top-right-corner1,
.bottom-left-corner1 {
    position: absolute;
}

.bottom-left-corner1 {
    left: -50px;
    bottom: -50px;
    rotate: -90deg;
}

.top-right-corner1 {
    right: -50px;
    top: -50px;
    rotate: 90deg;
}

.linea-hr {
    width: 150px;
    height: 10px;
    border: none;
    background: #655574 !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 100%;
    margin: 0;
}

.hr22 {
    width: 10px;
    height: 120px;
    border-bottom-left-radius: 3px;
    opacity: 100%;
    background: #655574;
    border: none;
    border-bottom-right-radius: 3px;
    margin: 0;
}

.HomeContent h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.HomeContent h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
    font-weight: 600;

}

.HomeContent h1 .stylized-name {
    font-weight: 700;
    color: #655574;
}


.HomeContent .heroline {
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 50px;
}

.buttonGroup {
    display: flex;
    padding: 10px 0px;
    margin-top: 10px;
    
}

.buttonGroup button,
.primary {

    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #EFA6AF;
    overflow: hidden;
    border-radius: 30px;
 
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    text-decoration: none;
      color: #817091;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
    color: #d0bee0 !important;
   
}

.buttonGroup button:hover {
    color: #d0bee0 !important;
    border: none;

}



.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.slide-help {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    z-index: 100;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}



.mySwiper {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F6F6F6;
}

.swiper-slide {
    width: 100%;

    background-color: #F6F6F6;
    height: 100%;
}

.about-us {
    width: 100%;
    height: 100%;

    padding: 100px;
    color: #8895B5;
}

.heading {
    padding: 20px 10px;
    font-size: 2.5rem;
    color: #604E6F;
}
.heading2 {
    padding: 20px 0px;
    font-size: 2.5rem;
    color: #604E6F;
}


.aboutme-deatils {
    padding: 10px;
    font-weight: 300;
    color: #817091;
}

.about-me-divison {
    display: flex;
}

.about-me-table {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 50%);
}

.about-me-table li {
    padding: 20px;
    position: relative;
}

.about-me-table li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff77, transparent);
    content: '';
    bottom: 0px;
}

.about-me-table span {
    color: #80ed99;
    font-weight: bold;
    margin-right: 5px;
}

.about-me-table .buttonGroup {
    grid-column: 1/span 2;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.skill-bar {
    width: calc(40% - 20px);
}

.skill-bar li {
    width: 100%;
    padding: 10px;
}

.bggradient {
    background: linear-gradient(180deg, #44659433 0%, #604e6f33 100%) !important;

}

.space-size {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
}

.name-skill {
    color: #604E6F;
    font-size: 17px;
    padding-top: 10px;
}

.skill-bar p {
    color: #80ed99;
    font-weight: bold;
    margin: 10px;
}

.skill-bar .bar {
    width: 100%;
    height: 15px;
    background-color: #272c30;
    border-radius: 20px;

}
.cont-skill{
    transition: all 0.3s;
}
.cont-skill:hover{
    transform: scale(1.08);
}
.row-s {
    display: flex;
    flex-wrap: wrap;
}

.active-bar {
    background-color: #80ed99;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.services {
    color: white;
    display: grid;
    /* grid-template-columns: repeat(3, calc(34% - 10px));
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px); */
padding: 100px 0px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    justify-content: center;
    justify-items: center;
}
.text-skill{
    color:#EE7481 ;
}

/* PROYECTOS */
.container-main {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    font-family: Poppins;
    padding: 50px 0px 0px 0px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    max-width: 1200px;
    margin: 20px;
}

.main {
    width: 100%;
    max-width: 250px;
}

.card-1 {
    width: 15em;
    height: 10em;
    background-image: url('img/p1.PNG');
    background-size: cover;
    border-radius: 7px;
    
}

.card-2 {
    width: 15em;
    height: 10em;
    background-image: url('img/p2.png');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card-3 {
    width: 15em;
    height: 10em;
    background-image: url('img/p3.PNG');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card-4 {
    width: 15em;
    height: 10em;
    background-image: url('img/p4.PNG');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card-5 {
    width: 15em;
    height: 10em;
    background-image: url('img/p5.png');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card-6 {
    width: 15em;
    height: 10em;
    background-image: url('img/p6.png');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card-7 {
    width: 15em;
    height: 10em;
    background-image: url('img/p7.png');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}


.card-8 {
    width: 15em;
    height: 10em;
    background-image: url('img/p8.png');
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.card {
    width: 15em;
    height: 10em;
    background-color: aqua;
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
}

.fl {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: .2s ease-in-out;
}

.fl:hover .fullscreen {
    scale: 1.1;
}

.fl:hover .fullscreen_svg {
    fill: white;
}

.fullscreen {
    width: 2.3em;
    height: 2.3em;
    border-radius: 5px;
    background-color: transparent;
    margin: 1em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;

}

.fullscreen_svg {
    width: 60px;
    height: 60px;
    fill: rgb(179, 49, 49);
    transition: .2s ease-in-out;
}

.card_back {
    position: absolute;
    width: 15em;
    height: 13em;
    background-color: #EE7481;
    border-radius: 7px;
    margin-top: -5em;
    margin-left: 0.7em;
    transition: .2s ease-in-out;
    z-index: -1;
}

.main:hover .card_back {
    margin-top: -7.25em;
    margin-left: 0em;
    scale: 1.1;
    height: 15.25em;
    cursor: pointer;
}

.main:hover .fl {
    opacity: 1;
    cursor: pointer;
    margin-right: 0.5em;
}

.data {
    display: flex;
    flex-direction: row;
    margin-top: 0.7em;
}

.img-card {
    width: 2.55em;
    height: 2.55em;
    /* background-color: #252525; */
    border-radius: 5px;
    overflow: hidden;

}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5em;

    color: white;
}

.text_m {
    font-weight: bold;
    font-size: 0.9em;
}

.text_s {
    font-size: 0.7em;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
}
.text_s:hover{
    
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    transition: .2s ease-in-out;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #604E6F;
    transition: .2s ease-in-out;
}

.likes_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
}

.likes_svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.likes:hover {
    background-color: #5A5F75;
    cursor: pointer;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #604E6F;
    transition: .24s ease-in-out;
}

.comments_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
}

.comments_svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.comments:hover {
    background-color: #5A5F75;
    cursor: pointer;
}

.views {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #604E6F;
    transition: .28s ease-in-out;
}

.views_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
}

.views_svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.views:hover {
    background-color: #5A5F73;
    cursor: pointer;
}

.boots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #604E6F;
    transition: .28s ease-in-out;
}

.boots:hover {
    background-color: #5A5F73;
    cursor: pointer;
}


.boot-svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.main:hover .likes {
    margin-top: 0.5em;
    opacity: 1;
}

.main:hover .comments {
    margin-top: 0.5em;
    opacity: 1;
}

.main:hover .views {
    margin-top: 0.5em;
    opacity: 1;
}

/* The Main Switch */

.card_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The switch - the box around the slider */
.switch_738 {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 3.3em;
}







/* .services .heading {
    grid-column: 1/span 3;
} */

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.services .service i {
    font-size: 3rem;
    color: #80ed99
}

.services .service .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}

.service h2 {
    color: #80ed99
}

.service:hover {
    background-color: #80ed99;
    color: #176d2d
}

.service:hover h2,
.service:hover i {
    color: #176d2d
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 100px;
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px);
}

.gallery h1,
.gallery h2 {
    grid-column: 1/span 3;
}

.gallery h2 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 20px 10px;
}

.gallery .project {
    margin: 25px 20px;
    margin-top: 0px;
    background: #212529;
    padding: 5px;
    border-radius: 20px;
}

.gallery .project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: none;
}

.contactMe {

    position: relative;
    padding: 100px 100px 0px 100px;
}


.gift {
    width: 25px;
    margin-right: 13px;
}

.contact-container {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.contact-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-item {
    margin: 10px 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}

.contact-item span {
    font-weight: bold;
    margin-right: 10px;
    color: #604E6F;
}

.contact-item a {
    color: #EE7481;
    text-decoration: none;
}

.social-icons {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* 
BOTONES DE REDES SOCIALES */




.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: rgb(131, 52, 140);
    background: linear-gradient(180deg, rgba(151, 108, 156, 0.384) 3%, rgba(104, 83, 133, 0.342) 97%);
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: rgb(109, 160, 255);
    background: linear-gradient(180deg, rgba(109, 160, 255, 0.411) 3%, rgba(30, 109, 255, 0.356) 97%);
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E3C0C0;
    color: #fff;
}


.wrapper .lk:hover,
.wrapper .lk:hover .tooltip,
.wrapper .lk:hover .tooltip::before {
    background: rgb(69, 163, 204);
    background: linear-gradient(180deg, rgba(69, 163, 204, 0.336) 3%, rgba(23, 104, 158, 0.301) 97%);
    color: #fff;
}

/* 
BOTONES DE REDES SOCIALES */



.social-icons a {
    color: #555;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007BFF;
}

.contactMe h1 {

    font-size: 2.5rem;
    /* padding: 30px; */
}

.contactMe form {
    grid-area: 2/2/ span 5/span 2;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactinfo i {
    padding: 10px;
    font-size: 2.5rem;
    color: #80ed99;
    margin: 20px auto;
}

.contactinfo h3 {
    color: #80ed99;
}

.contactMe form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
    height: fit-content;
    color: white;
}

.contactMe form h2 {
    grid-column: 1/span 2;
    padding: 20px;
    display: flex;
}

.contactMe form input {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.1rem;
    border: none;
    color: white;
    background-color: #212529;

}

.contactMe form input:focus {
    border: 1px solid #85f69f;
    outline: none;

}

.contactMe form textarea {
    width: calc(100% - 40px);

    grid-column: 1/span 2;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    resize: none;
    border: none;
    border: none;
    color: white;
    background-color: #212529;
}

.contactMe form textarea:focus {
    border: 1px solid #85f69f !important;
}

.contactMe button {
    grid-column: 1/span 2;
    margin: 20px auto;

}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 200;
    font-size: 0.8rem;
}

footer li {
    padding: 10px;
}

form h2 .SocialLinks {
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    background-color: #212529;
    border-radius: 30px;
}

form h2 .SocialLinks i {
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.25s;
}

form h2 .SocialLinks i:hover {
    background-color: #176d2d;
}

.about-us {
    overflow: auto;
}

@media (max-width: 1068px) {
    main {

        flex-direction: column;

    }

    .aside {

        display: none;


    }

    .Links {
        display: none;
        width: 100%;


    }

    .Links ul {
        flex-direction: column;
        width: 100%;


    }

    .Links li {
        text-align: center;
        padding: 10px 0;
        width: 100%;
        color: #204786;

    }

    .toggle-button {
        display: block;
        color: #0d3169;
        margin: 30px 0px 0px 90px;
        font-size: 40px;


    }

    .Links.active {
        display: flex;


    }

    .aside.active {
        display: flex;
        width: 80%;
        margin: auto;
        background-color: rgba(189, 27, 27, 0.815);
        height: 40%;
        background-color: rgb(255, 255, 255);


    }

}

@media (max-width: 1008px) {
    .home-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HomeContent {
        padding: 100px;
        flex: 0;
    }

    .SideImg1 img {
        width: 350px;
        height: 350px;
        border-radius: 10px;
        /* background: #176d2d; */
        margin-right: 0px;
        margin: 0px;
    }

    .SideImg1 {
        width: auto;
        margin: 0px;

    }

    .top-right-corner1 {
        right: -40px;
        top: -20px;
    }

    .bottom-left-corner1 {
        left: -40px;
        bottom: -20px;
    }

    .about-us {
        padding: 10px;
    }
}

@media (max-width: 980px) {

    .HomeContent {
        margin: 20px;
    }

    .SideImg1 {
        width: auto;
        margin: 0px;

    }
    .services{
        padding: 20px 0px;
    }
  
}

@media (max-width: 744px) {
    .HomeContent {
        padding: 50px 20px 50px 20px;

    }

    .SideImg1 {
        width: auto;
        margin: 10px;
    }

}

@media (max-width: 430px) {
    .SideImg1 img {
        /* width: 200%;
        height: 200%; */
        width: 95%;
        height: 95%;



    }

    .slide-help {
        position: inherit;
        margin-top: 50px;
    }

    .SideImg1 {
        width: 60%;
        margin: 10px;
    }

    .HomeContent h1 {
        font-size: 2.5em;
    }

    .HomeContent {
        /* padding: 80px 20px 80px 20px; */
        margin: 10px;
    }

    .toggle-button {
        margin: 10px 0px 0px 10px;
    }

    .HomeContent .heroline {
        font-size: 1.3rem;
    }

    .top-right-corner1 {
        right: -10px;
        top: -0px;
    }

    .bottom-left-corner1 {
        left: -20px;
        bottom: 10px;
    }

    .hr22 {
        width: 7px;
    }

    .linea-hr {
        height: 7px;
    }

    .contactMe {
        padding: 10px;
    }
    .heading{
        font-size: 1.7rem;
    }
    .heading2{
        font-size: 1.7rem;
    }
    .img-deco{
width: 40px;
    }

    .contactMe h1{
     font-size: 1.7rem;   
    }
}
